.css-1dp5vir.e8zbici1 {
    background-image: linear-gradient(90deg, #007fe0ff,#007fe0ff);
}

.css-1kyxreq.etr89bj2 {
    justify-content: center;
}

.row-widget.stButton {
    justify-content: center;
    display: flex;
}

.row-widget.stDownloadButton {
    justify-content: right;
    display: flex;
}

.css-fis6aj.exg6vvm10 {
    display: none;
}