.css-1dp5vir.e8zbici1 {
    background-image: linear-gradient(90deg, #ccccccff,#ccccccff);
}

.css-1kyxreq.etr89bj2 {
    justify-content: center;
}

.row-widget.stButton {
    justify-content: center;
    display: flex;
}

.row-widget.stDownloadButton {
    justify-content: right;
    display: flex;
}

.css-fis6aj.exg6vvm10 {
    display: none;
}

.css-1gk2i2l.e17lx80j0 {
    display: flex;
    justify-content: center;
}

.image_predict {
    width: 100%;
    padding-bottom: 10%;
}

.avaliacao {
    text-align: center;
}